body {
  @apply !bg-white dark:!bg-dark;
}

.dark\:nx-bg-dark {
  @apply !bg-white dark:!bg-dark;
}

.dark\:nx-shadow-\[0_-12px_16px_\#111\] {
  @apply !shadow-white dark:!shadow-dark;
}

@supports (
  ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px)))
) {
  html[class~="dark"] div.nextra-nav-container-blur {
    --tw-bg-opacity: 1;
    background-color: rgb(31 29 43 / var(--tw-bg-opacity)) !important;
  }
}

code {
  @apply text-sm;
}

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8);
}

@font-face {
  font-family: "BreezeSans";
  src: url("public/fonts/BreezeSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BreezeSans";
  src: url("public/fonts/BreezeSans-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "BreezeSans";
  src: url("public/fonts/BreezeSans-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* Cousine */

@font-face {
  font-family: "Cousine";
  src: url("public/fonts/Cousine-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cousine";
  src: url("public/fonts/Cousine-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

.webbCardBg {
  background: #fff;
  box-shadow:
    0px 0px 0px 1px rgba(0, 0, 0, 0.03),
    0px 2px 4px rgba(0, 0, 0, 0.05),
    0px 12px 24px rgba(0, 0, 0, 0.05);
}

.dark .webbCardBg {
  /* background: rgba(0, 0, 0, 0.8); */
  background: #1f1d2b;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 20px 48px rgba(0, 0, 0, 0.2);
}

.webbCardBg {
  background: #fff;
  box-shadow:
    0px 0px 0px 1px rgba(0, 0, 0, 0.03),
    0px 2px 4px rgba(0, 0, 0, 0.05),
    0px 12px 24px rgba(0, 0, 0, 0.05);
}

.dark .webbCardBg {
  background: rgba(0, 0, 0, 0.8);
  background: #1f1d2b;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 20px 48px rgba(0, 0, 0, 0.2);
}

.list,
.list:focus-visible,
.list:focus {
  outline: none !important;
  box-shadow: none !important;
}
